/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.social-buttons-card-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 700px;
}

@media screen and (min-width: 768px) {
  .content-container {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .content-container {
    width: 50%;
  }
}

.card-heading {
  color: #ffffff;
  font-family: "Bree Serif";
  font-weight: bold;
  font-size: 32px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .buttons-container {
    flex-direction: row;
  }
}

.button {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 26px;
  border-radius: 15px;
  margin-right: 15px;
}

.like-button {
  background-color: #eab308;
}

.comment-button {
  background-color: #ffffff;
  color: #323f4b;
}

.share-button {
  background-color: #1d4ed8;
}
